/*navigation*/
nav{
    flex-direction:row;
    justify-content:space-between;
    align-content: center;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow:2px 2px 10px rgba(0,0,0,0.15);
    position: fixed;
    top: 0;
    display: flex;
    background-color: #ffffff;
    width: 100%;
}

nav img{
    width:10%;
    padding-left: 5%;
    padding-right: 10%;
    
}
nav .navigation ul{
    display: flex;
    justify-content:flex-end;
    align-items:center;
    border-right: #ffffff ;
    padding-left: 10%;
    padding-right: 10%;
}

nav .navigation ul li{
    list-style: none;
    margin-left: 10%;
}

nav .navigation ul li a{
    text-decoration: none;
    color:black;
    font-size:16px;
    font-weight:500;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover{
    color: yellow
}

nav .navigation ol{
    display: flex;
    justify-content:flex-end;
    align-items:center;
    margin-left: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

nav .navigation ol li{
    list-style: none;
    margin-right: 30px;
    text-align: center;
}
nav .navigation ol li a{
    text-decoration: none;
    color:black;
    font-size:16px;
    font-weight:500;
    transition: 0.3s ease;
}
nav .navigation ol li a:hover{
    color: blue
}

/*Login*/

body {
   /*font-family: Arial, sans-serif;*/
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}


/*home*/
#home {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    background-image: url('img1.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#home h2{
    color:#ffffff;
    font: size 2.2rem;
    letter-spacing:1px;
}

#home p{
    width:50%;
    color:white;
    font-size:0.9rem;
    line-height:25px;
}

.button{
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 35px;
}
.blue{
    
    text-decoration: none;
    background-color:#007bff;
    color:#ffffff;
    margin-right:10%;
    align-items: center;
    text-align: center;
    width:70%;
    border-radius: 10px;
}

.yellow{
    text-decoration: none;
    background-color:rgb(225, 225, 47);
    color:#ffffff;
    margin-right: 10%;
    width:70%;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.class{
width: 100%;
    height: 100vh;
    background-image: url('img1.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#p{
    width:50%;
    color:blue;
    font-size:0.9rem;
    line-height:25px;
}


/*Mentorship*/
